*{
    margin: 0;
    padding: 0;
}
html{
    background-color: lightgray;
}
#page{
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}
h1{
    font-family: 'Ranchers', cursive;
    font-size: 80px;
    margin-top: 5vh;
    margin-bottom: 5vh;
    letter-spacing: 0.1em;
}
#board{
    margin-top: 3vh;
    display: grid;
    border: 0.3vh solid black;
    height: 60vh;
    width: 60vh;
}
