*{
    margin: 0;
    padding: 0;
}
html{
    background-color: lightgray;
}
#page{
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}
h1{
    font-family: 'Ranchers', cursive;
    font-size: 80px;
    margin-top: 5vh;
    margin-bottom: 5vh;
    letter-spacing: 0.1em;
}
#board{
    margin-top: 3vh;
    display: grid;
    border: 0.3vh solid black;
    height: 60vh;
    width: 60vh;
}
#resetButton{
    font-size: 3vh;
    background-color: cadetblue;
    padding: 1.5vh 1.5vh;
    border-radius: 12px;
    border: 2px solid black;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
